@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 56px;
}
h2 {
  font-family: "Anonymous Pro", sans-serif;
	font-size: 48px;
}
.container {
	width: 371px;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  border-radius: 12px;
}
h3 {
  font-family: "Anonymous Pro", sans-serif;
	font-size: 26px;
  width: 323px;
  color: var(--black, #121723);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
p {
  font-family: "Anonymous Pro", sans-serif;
  align-self: stretch;
  color: var(--black, #121723);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
img {
	width: 370px;
}
.title{
  width: 212.34px;
  height: 63.24px;
  flex-shrink: 0;
  top: 30px;
  border-bottom: 100px;
}
header{
border-bottom: 2px solid #A1A6B4;
display: flex;
align-items: center;
justify-content: space-between;
}
.menu{
  color: black;
  display: flex;
  list-style: none;
  gap: 24px;
  margin: 15px;
}
.social a{
text-decoration: none;
font-family:"Anonymous Pro", sans-serif;
}
.social{
  margin-right: 157px;
}
.title2{
  width: 299.653px;
  height: 22.32px;
  flex-shrink: 0;
  border-bottom: 50px;
}
footer{
  height: 142px;
  padding: 0px 140px 10px 140px;
  padding-top:20px;
  background: var(--black, #121723);
  
}
.menu1{
  display: flex;
  list-style: none;
  gap: 24px;
  margin: 5px;
}
.social1 a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Anonymous Pro", sans-serif;
  }
  
  main{
    background: #F1F1F1;
    display: flex;
    gap: 25px;
    align-items: center;
    flex-grow: 1;
  }
  .container__div{
    width: 321.5px;
    padding: 32px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 0px 12px 12px;
    background: var(--white, #FFF);
    margin-top: -10px;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin:  auto;
    width: 1161px;
  }
  .sneaker2023{
    display: flex;
    color: var(--text_gray, #a1a6b4);
    font-family: "Anonymous Pro";
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    width: auto;
    
  }
.subtitle{  
  color: #121723;
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin: 0;
  width: 100%;
  margin:24px ;
}
hr {
    border: none;
    text-align: center;
  border: 1px solid #E6E8EC66;
}
.footer_title{
justify-items: start;
height:1px;
width:1px ;
max-width:300px ;
margin-top:20px ;
}
.social1{
  display: grid;
  justify-items: end;
 margin-bottom: 10px;
}
.header_title{
 margin-left: 142px;
 margin-top:30px;
 max-width:300px ;

}
body{
  margin: 0;
}
.card-image{
 width: 90%;
 margin-left: auto;
    margin-right: auto;
    display: block;

}
.card-container{
  background: rgb(255, 255, 255);
  margin: 30px 0;
  padding: 30px 10px;
  border-radius: 50px;
}
.row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family:"Anonymous Pro";
}
.row2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family:"Anonymous Pro";
}
.row3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family:"Anonymous Pro";
}
.row4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family:"Anonymous Pro";
}
.info {
  display: flex;
}

.col1 {
  width: 40%;
  padding-right: 20px;
  margin-top: 16px;
  margin-right: 24px;
}

.col2 {
  width: 60%;
  font-family: "Anonymous Pro";
font-size: 20px;
font-weight: 400;
margin-left: 24px;

}
.wrapper{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

}
.info{
gap: 32px;
}
.col1 h3{
margin: 0;
margin-left: 0;
}
.info hr{
margin: 24px 0;
background-color: #121723;
}

.card-container h2{
  margin-left: 24px;
}
.subtitle_sneaker{
  margin-left: 24px;
  width: auto;
}
.container__image{
  border-top-right-radius:12px ;
  border-top-left-radius:12px ;
}
 .container:hover{
transform: translateY(-20px);

}
.container:hover .container__div {
  box-shadow:0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 500px) {
  .header_title{
    align-items: center;
    display: flex;
    margin-right: 133px;
    }
    header{
      flex-direction: column;
      align-items: center;
    }
  .social{
   margin: auto;
    display: flex;
  }

  .menu{
    row-gap: 1px;
    padding: 0;
    align-items: center;
    justify-content: center;
  
  }
  .subtitle{
  font-size: 40px;
  margin-bottom: 1px;
  }
  .footer_title{
    display: flex;
    align-items: center;
    margin-left:-95px ;
  }
  .social1{
    display: flex;
    margin: auto;
    width: 280px;
    margin: 15px 0px 10px 0px;
    position: absolute;
    left: 30px;
  
  }
  
  .menu1{
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  hr{
  width:300px;
  margin-left: -100px;
  margin: 50px 0px 0px -100px;
  }
  .sneaker2023{
  position: absolute;
  left: 104px;
  
  
  }
  .cards{
    align-items: center;
  }
  
  
  .info{
    flex-direction: column;
    
  }
  
  .card-image{
  margin:0px 0px 0px 20px ;
  
  }
  .wrapper{
  width: 340px;
  
  }
  .col1{
    display: flex;
    flex-wrap: wrap;
  min-width: 300px;
  max-width:300px ;
  margin-left: 24px;
  }
  .row1{
    gap: 90px;
  }
  .row2{
    gap: 115px;
  }
  .row3{
    gap: 35px;
  }
  .row4{
    gap: 67px;
  }
  .col2{
    min-width:300px;
    margin: 0
  }
  .card-container h2{
    font-size: 35px;
  }
  .card-container h3{
    font-size: 22px;
    margin: 0px 24px 0px 24px;
  }
  .card-container p{
    margin: 24px 24px 0px 24px; 
  }
  .container__image{
    width: 92%;
    margin: 16px;
    margin-bottom: 0;
  }
 .container__div{
  margin: 16px;
  width: 79%;
  margin-top: -10px;
 }
  }